<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link href="~/css/Estilos.css" rel="stylesheet" />
    </head>
    <body>
        <header>
            <h1>App.Web.MVC</h1>
        </header>

        <div class="conteudo">
            @RenderBody()
        </div>

        <footer>
            <p>Desenvolvido para o curso de ASP.NET (c) 2014</p>
        </footer>
    </body>
</html>