
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Metodo02</title>
</head>
<body>
    <div> 
        <h1>Exemplo de View</h1>
        - Metodo02  da classe TesteController
    </div>
</body>
</html>
