<h2>Incluir</h2>
<p>
    O compromisso foi inserido na agenda com sucesso!
</p>
<br />
<br />
<a href="/Agenda/Incluir">Novo compromisso</a>
<br />
<br />
<a href="/agenda/Listagem">Exibir a Lista de Compromissos</a>